.cart {
    height: 500px;
    width: 298px;
    border: 2px solid #95A0A7;
    border-radius: 10px;
    text-align: center;
}

.cart img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 5px;
    position: relative;
}

.btn-cart {
    height: 40px;
    width: 75%;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: aliceblue;
}
.btn-cart:hover{
    background-color: orange;
}
.carts{
    overflow: hidden;
}

  