.user-info{
    text-align: center;
    padding: 20px;
}
.user-activity{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
}