.user-info {
    text-align: center;
    padding: 20px;
}

.user-info .user-activity h5 {
    display: flex;
}

.user-activity {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2px;
    margin: 20 20px;
    margin-bottom: 30px;
}

.btn-second {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: skyblue;
    color: aliceblue;
    border: none;
}

.course-time {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.add-break{
    padding-top: 20px;
}

.break-time {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.btn-finished{
    padding-top: 20px;
    text-align: center;
}
.btn-finished button{
    width: 75%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.btn-finished button:hover{
    background-color: blue;
}
.sec{
    margin-left: 25px;
    color: silver;
}