.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 30px;
}

.package {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    /* margin: 100px 50px; */
}

@media only screen and (max-width: 900px) {
    .home-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      overflow: hidden;
    }
    .package{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
    }
  }